--
-- PostgreSQL database dump
--

\restrict AogSh7ndaoXg1iGzrVLp1tDtjOmTvc4z5a5oKH7Ai9uQOdjqisZeYRqDafYnqMY

-- Dumped from database version 13.23
-- Dumped by pg_dump version 13.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cuestionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuestionarios (
    id bigint NOT NULL,
    modulo_id bigint NOT NULL,
    titulo character varying(255),
    min_aprobacion integer DEFAULT 100 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.cuestionarios OWNER TO postgres;

--
-- Name: cuestionarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuestionarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cuestionarios_id_seq OWNER TO postgres;

--
-- Name: cuestionarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuestionarios_id_seq OWNED BY public.cuestionarios.id;


--
-- Name: cursos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cursos (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text,
    imagen character varying(255),
    estado character varying(255) DEFAULT 'publicado'::character varying NOT NULL,
    user_id bigint NOT NULL,
    audiencia character varying(20) DEFAULT 'docente'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    horas integer
);


ALTER TABLE public.cursos OWNER TO postgres;

--
-- Name: cursos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cursos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cursos_id_seq OWNER TO postgres;

--
-- Name: cursos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cursos_id_seq OWNED BY public.cursos.id;


--
-- Name: examenes_finales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.examenes_finales (
    id bigint NOT NULL,
    curso_id bigint NOT NULL,
    titulo character varying(255) DEFAULT 'Examen Final'::character varying NOT NULL,
    min_aprobacion integer DEFAULT 80 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.examenes_finales OWNER TO postgres;

--
-- Name: examenes_finales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.examenes_finales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.examenes_finales_id_seq OWNER TO postgres;

--
-- Name: examenes_finales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.examenes_finales_id_seq OWNED BY public.examenes_finales.id;


--
-- Name: materiales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materiales (
    id bigint NOT NULL,
    modulo_id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    tipo character varying(255) NOT NULL,
    url text,
    archivo text,
    duracion character varying(255),
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.materiales OWNER TO postgres;

--
-- Name: materiales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.materiales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.materiales_id_seq OWNER TO postgres;

--
-- Name: materiales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.materiales_id_seq OWNED BY public.materiales.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: modulos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modulos (
    id bigint NOT NULL,
    curso_id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.modulos OWNER TO postgres;

--
-- Name: modulos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modulos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modulos_id_seq OWNER TO postgres;

--
-- Name: modulos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modulos_id_seq OWNED BY public.modulos.id;


--
-- Name: opciones_cuestionario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opciones_cuestionario (
    id bigint NOT NULL,
    material_id bigint NOT NULL,
    texto text NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.opciones_cuestionario OWNER TO postgres;

--
-- Name: opciones_cuestionario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.opciones_cuestionario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.opciones_cuestionario_id_seq OWNER TO postgres;

--
-- Name: opciones_cuestionario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.opciones_cuestionario_id_seq OWNED BY public.opciones_cuestionario.id;


--
-- Name: opciones_examen_final; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opciones_examen_final (
    id bigint NOT NULL,
    pregunta_id bigint NOT NULL,
    texto text NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.opciones_examen_final OWNER TO postgres;

--
-- Name: opciones_examen_final_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.opciones_examen_final_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.opciones_examen_final_id_seq OWNER TO postgres;

--
-- Name: opciones_examen_final_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.opciones_examen_final_id_seq OWNED BY public.opciones_examen_final.id;


--
-- Name: opciones_pregunta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opciones_pregunta (
    id bigint NOT NULL,
    pregunta_id bigint NOT NULL,
    texto text NOT NULL,
    es_correcta boolean DEFAULT false NOT NULL,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.opciones_pregunta OWNER TO postgres;

--
-- Name: opciones_pregunta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.opciones_pregunta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.opciones_pregunta_id_seq OWNER TO postgres;

--
-- Name: opciones_pregunta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.opciones_pregunta_id_seq OWNED BY public.opciones_pregunta.id;


--
-- Name: page_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_settings (
    id bigint NOT NULL,
    key character varying(255) NOT NULL,
    value text,
    type character varying(255) DEFAULT 'text'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.page_settings OWNER TO postgres;

--
-- Name: page_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.page_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.page_settings_id_seq OWNER TO postgres;

--
-- Name: page_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.page_settings_id_seq OWNED BY public.page_settings.id;


--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_resets (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    used_at timestamp(0) without time zone,
    id bigint NOT NULL
);


ALTER TABLE public.password_resets OWNER TO postgres;

--
-- Name: password_resets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_resets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.password_resets_id_seq OWNER TO postgres;

--
-- Name: password_resets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_resets_id_seq OWNED BY public.password_resets.id;


--
-- Name: pending_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pending_users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'docente'::character varying NOT NULL,
    token character varying(255) NOT NULL,
    expires_at timestamp(0) without time zone NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.pending_users OWNER TO postgres;

--
-- Name: pending_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pending_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pending_users_id_seq OWNER TO postgres;

--
-- Name: pending_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pending_users_id_seq OWNED BY public.pending_users.id;


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO postgres;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.personal_access_tokens_id_seq OWNER TO postgres;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: preguntas_cuestionario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_cuestionario (
    id bigint NOT NULL,
    cuestionario_id bigint NOT NULL,
    texto text NOT NULL,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.preguntas_cuestionario OWNER TO postgres;

--
-- Name: preguntas_cuestionario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preguntas_cuestionario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.preguntas_cuestionario_id_seq OWNER TO postgres;

--
-- Name: preguntas_cuestionario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preguntas_cuestionario_id_seq OWNED BY public.preguntas_cuestionario.id;


--
-- Name: preguntas_examen_final; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_examen_final (
    id bigint NOT NULL,
    examen_final_id bigint NOT NULL,
    texto text NOT NULL,
    orden integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.preguntas_examen_final OWNER TO postgres;

--
-- Name: preguntas_examen_final_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preguntas_examen_final_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.preguntas_examen_final_id_seq OWNER TO postgres;

--
-- Name: preguntas_examen_final_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preguntas_examen_final_id_seq OWNED BY public.preguntas_examen_final.id;


--
-- Name: progreso_cursos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progreso_cursos (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    curso_id bigint NOT NULL,
    completado boolean DEFAULT false NOT NULL,
    progreso double precision DEFAULT '0'::double precision NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.progreso_cursos OWNER TO postgres;

--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progreso_cursos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.progreso_cursos_id_seq OWNER TO postgres;

--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progreso_cursos_id_seq OWNED BY public.progreso_cursos.id;


--
-- Name: progreso_materiales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progreso_materiales (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    material_id bigint NOT NULL,
    completado boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.progreso_materiales OWNER TO postgres;

--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progreso_materiales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.progreso_materiales_id_seq OWNER TO postgres;

--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progreso_materiales_id_seq OWNED BY public.progreso_materiales.id;


--
-- Name: resultado_cuestionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultado_cuestionarios (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    material_id bigint,
    intentos integer DEFAULT 0 NOT NULL,
    puntaje integer DEFAULT 0 NOT NULL,
    aprobado boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    cuestionario_id bigint
);


ALTER TABLE public.resultado_cuestionarios OWNER TO postgres;

--
-- Name: resultado_cuestionarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultado_cuestionarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultado_cuestionarios_id_seq OWNER TO postgres;

--
-- Name: resultado_cuestionarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultado_cuestionarios_id_seq OWNED BY public.resultado_cuestionarios.id;


--
-- Name: resultados_examen_final; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_examen_final (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    examen_final_id bigint NOT NULL,
    intentos integer DEFAULT 0 NOT NULL,
    puntaje integer DEFAULT 0 NOT NULL,
    aprobado boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.resultados_examen_final OWNER TO postgres;

--
-- Name: resultados_examen_final_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resultados_examen_final_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultados_examen_final_id_seq OWNER TO postgres;

--
-- Name: resultados_examen_final_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resultados_examen_final_id_seq OWNED BY public.resultados_examen_final.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    primer_nombre character varying(255),
    segundo_nombre character varying(255),
    primer_apellido character varying(255),
    segundo_apellido character varying(255),
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    curso_en_progreso_id bigint,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: cuestionarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios ALTER COLUMN id SET DEFAULT nextval('public.cuestionarios_id_seq'::regclass);


--
-- Name: cursos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos ALTER COLUMN id SET DEFAULT nextval('public.cursos_id_seq'::regclass);


--
-- Name: examenes_finales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examenes_finales ALTER COLUMN id SET DEFAULT nextval('public.examenes_finales_id_seq'::regclass);


--
-- Name: materiales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materiales ALTER COLUMN id SET DEFAULT nextval('public.materiales_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: modulos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos ALTER COLUMN id SET DEFAULT nextval('public.modulos_id_seq'::regclass);


--
-- Name: opciones_cuestionario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_cuestionario ALTER COLUMN id SET DEFAULT nextval('public.opciones_cuestionario_id_seq'::regclass);


--
-- Name: opciones_examen_final id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_examen_final ALTER COLUMN id SET DEFAULT nextval('public.opciones_examen_final_id_seq'::regclass);


--
-- Name: opciones_pregunta id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_pregunta ALTER COLUMN id SET DEFAULT nextval('public.opciones_pregunta_id_seq'::regclass);


--
-- Name: page_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_settings ALTER COLUMN id SET DEFAULT nextval('public.page_settings_id_seq'::regclass);


--
-- Name: password_resets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets ALTER COLUMN id SET DEFAULT nextval('public.password_resets_id_seq'::regclass);


--
-- Name: pending_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_users ALTER COLUMN id SET DEFAULT nextval('public.pending_users_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: preguntas_cuestionario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_cuestionario ALTER COLUMN id SET DEFAULT nextval('public.preguntas_cuestionario_id_seq'::regclass);


--
-- Name: preguntas_examen_final id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_examen_final ALTER COLUMN id SET DEFAULT nextval('public.preguntas_examen_final_id_seq'::regclass);


--
-- Name: progreso_cursos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos ALTER COLUMN id SET DEFAULT nextval('public.progreso_cursos_id_seq'::regclass);


--
-- Name: progreso_materiales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales ALTER COLUMN id SET DEFAULT nextval('public.progreso_materiales_id_seq'::regclass);


--
-- Name: resultado_cuestionarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios ALTER COLUMN id SET DEFAULT nextval('public.resultado_cuestionarios_id_seq'::regclass);


--
-- Name: resultados_examen_final id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_examen_final ALTER COLUMN id SET DEFAULT nextval('public.resultados_examen_final_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: cuestionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cuestionarios (id, modulo_id, titulo, min_aprobacion, created_at, updated_at) FROM stdin;
2	3	Cuestionario	100	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: cursos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cursos (id, titulo, descripcion, imagen, estado, user_id, audiencia, created_at, updated_at, horas) FROM stdin;
3	fasdfag	asgqwegq3r	cursos/o09KD4HknISSToyMlsmaxc0hArHlvaq1LSYrfTAp.png	publicado	1	docente	2026-07-02 22:43:05	2026-07-02 22:43:05	124
\.


--
-- Data for Name: examenes_finales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.examenes_finales (id, curso_id, titulo, min_aprobacion, created_at, updated_at) FROM stdin;
2	3	Examen Final	80	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: materiales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.materiales (id, modulo_id, titulo, tipo, url, archivo, duracion, orden, created_at, updated_at) FROM stdin;
3	3	aweggqwg	video	https://www.youtube.com/watch?v=5Mv5xoz08Mo	\N	\N	1	2026-07-02 22:43:05	2026-07-02 22:43:05
4	3	agadsgfqrwg	pdf		materiales/UM4WSZ8JpMTqz8cyuLTH8IFrZS6HYhNr7yQwqrdL.pdf	\N	2	2026-07-02 22:43:05	2026-07-03 00:35:24
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modulos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modulos (id, curso_id, titulo, descripcion, orden, created_at, updated_at) FROM stdin;
3	3	fawegawrg		1	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: opciones_cuestionario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.opciones_cuestionario (id, material_id, texto, es_correcta, orden, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: opciones_examen_final; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.opciones_examen_final (id, pregunta_id, texto, es_correcta, orden, created_at, updated_at) FROM stdin;
5	2	baberbete	f	1	2026-07-02 22:43:05	2026-07-02 22:43:05
6	2	bsdfbsdfb	f	2	2026-07-02 22:43:05	2026-07-02 22:43:05
7	2	ggggg	t	3	2026-07-02 22:43:05	2026-07-02 22:43:05
8	2	qwrgasfgsf	f	4	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: opciones_pregunta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.opciones_pregunta (id, pregunta_id, texto, es_correcta, orden, created_at, updated_at) FROM stdin;
5	2	bqerbbb	f	1	2026-07-02 22:43:05	2026-07-02 22:43:05
6	2	bsfbarb	f	2	2026-07-02 22:43:05	2026-07-02 22:43:05
7	2	brbetee	t	3	2026-07-02 22:43:05	2026-07-02 22:43:05
8	2	 dzfbvaer	f	4	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: page_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_resets (email, token, created_at, expires_at, used_at, id) FROM stdin;
ana.perez@unas.edu.pe	$2y$10$ew6ZMW3UPqiHDB07jZIs1uU6WqxgvCDpOiLukyK/K0kF9GYiAqbkm	2026-07-03 02:47:32	2026-07-03 05:47:32	2026-07-03 02:48:04	1
\.


--
-- Data for Name: pending_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pending_users (id, name, email, password, role, token, expires_at, created_at, updated_at) FROM stdin;
1	Ayrton Rios	ayrton.rios@unas.edu.pe	$2y$10$qov0Q3fNUMpFGNXmFtiPI.g8ZijrehXCy0q5Y7oBKSJ/pdj3grQW.	docente	2e02f95d-53ad-45b5-83ed-682aad9300da	2026-07-04 02:35:14	2026-07-03 02:35:14	2026-07-03 02:35:14
2	Juan Perez	juan.perez@unas.edu.pe	$2y$10$p9rCM84AwLdhRbfLV/Cp0.1nAfpJSgYzUQJQHXWo1dgJd8kbBhHgu	docente	13d241ae-5673-467c-85ea-7d13ba75ffe1	2026-07-04 02:42:43	2026-07-03 02:42:43	2026-07-03 02:42:43
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: preguntas_cuestionario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preguntas_cuestionario (id, cuestionario_id, texto, orden, created_at, updated_at) FROM stdin;
2	2	asdvaberbqa	1	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: preguntas_examen_final; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preguntas_examen_final (id, examen_final_id, texto, orden, created_at, updated_at) FROM stdin;
2	2	sbabwrwrgae	1	2026-07-02 22:43:05	2026-07-02 22:43:05
\.


--
-- Data for Name: progreso_cursos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progreso_cursos (id, user_id, curso_id, completado, progreso, created_at, updated_at) FROM stdin;
3	1	3	t	100	2026-07-02 22:44:26	2026-07-03 00:43:19
\.


--
-- Data for Name: progreso_materiales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progreso_materiales (id, user_id, material_id, completado, created_at, updated_at) FROM stdin;
1	1	3	t	2026-07-02 22:44:50	2026-07-02 22:44:50
2	1	4	t	2026-07-03 00:43:07	2026-07-03 00:43:07
\.


--
-- Data for Name: resultado_cuestionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resultado_cuestionarios (id, user_id, material_id, intentos, puntaje, aprobado, created_at, updated_at, cuestionario_id) FROM stdin;
1	1	\N	1	100	t	2026-07-03 00:43:11	2026-07-03 00:43:11	2
\.


--
-- Data for Name: resultados_examen_final; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resultados_examen_final (id, user_id, examen_final_id, intentos, puntaje, aprobado, created_at, updated_at) FROM stdin;
1	1	2	1	100	t	2026-07-03 00:43:18	2026-07-03 00:43:18
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: cuestionarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuestionarios_id_seq', 2, true);


--
-- Name: cursos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cursos_id_seq', 3, true);


--
-- Name: examenes_finales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.examenes_finales_id_seq', 2, true);


--
-- Name: materiales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.materiales_id_seq', 4, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 24, true);


--
-- Name: modulos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.modulos_id_seq', 3, true);


--
-- Name: opciones_cuestionario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opciones_cuestionario_id_seq', 1, false);


--
-- Name: opciones_examen_final_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opciones_examen_final_id_seq', 8, true);


--
-- Name: opciones_pregunta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opciones_pregunta_id_seq', 8, true);


--
-- Name: page_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.page_settings_id_seq', 20, true);


--
-- Name: password_resets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_resets_id_seq', 1, true);


--
-- Name: pending_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pending_users_id_seq', 3, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: preguntas_cuestionario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_cuestionario_id_seq', 2, true);


--
-- Name: preguntas_examen_final_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_examen_final_id_seq', 2, true);


--
-- Name: progreso_cursos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progreso_cursos_id_seq', 3, true);


--
-- Name: progreso_materiales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progreso_materiales_id_seq', 2, true);


--
-- Name: resultado_cuestionarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultado_cuestionarios_id_seq', 1, true);


--
-- Name: resultados_examen_final_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resultados_examen_final_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: cuestionarios cuestionarios_modulo_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios
    ADD CONSTRAINT cuestionarios_modulo_id_unique UNIQUE (modulo_id);


--
-- Name: cuestionarios cuestionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios
    ADD CONSTRAINT cuestionarios_pkey PRIMARY KEY (id);


--
-- Name: cursos cursos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos
    ADD CONSTRAINT cursos_pkey PRIMARY KEY (id);


--
-- Name: examenes_finales examenes_finales_curso_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examenes_finales
    ADD CONSTRAINT examenes_finales_curso_id_unique UNIQUE (curso_id);


--
-- Name: examenes_finales examenes_finales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examenes_finales
    ADD CONSTRAINT examenes_finales_pkey PRIMARY KEY (id);


--
-- Name: materiales materiales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materiales
    ADD CONSTRAINT materiales_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: modulos modulos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos
    ADD CONSTRAINT modulos_pkey PRIMARY KEY (id);


--
-- Name: opciones_cuestionario opciones_cuestionario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_cuestionario
    ADD CONSTRAINT opciones_cuestionario_pkey PRIMARY KEY (id);


--
-- Name: opciones_examen_final opciones_examen_final_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_examen_final
    ADD CONSTRAINT opciones_examen_final_pkey PRIMARY KEY (id);


--
-- Name: opciones_pregunta opciones_pregunta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_pregunta
    ADD CONSTRAINT opciones_pregunta_pkey PRIMARY KEY (id);


--
-- Name: page_settings page_settings_key_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_settings
    ADD CONSTRAINT page_settings_key_unique UNIQUE (key);


--
-- Name: page_settings page_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_settings
    ADD CONSTRAINT page_settings_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: pending_users pending_users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_users
    ADD CONSTRAINT pending_users_email_unique UNIQUE (email);


--
-- Name: pending_users pending_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_users
    ADD CONSTRAINT pending_users_pkey PRIMARY KEY (id);


--
-- Name: pending_users pending_users_token_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_users
    ADD CONSTRAINT pending_users_token_unique UNIQUE (token);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: preguntas_cuestionario preguntas_cuestionario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_cuestionario
    ADD CONSTRAINT preguntas_cuestionario_pkey PRIMARY KEY (id);


--
-- Name: preguntas_examen_final preguntas_examen_final_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_examen_final
    ADD CONSTRAINT preguntas_examen_final_pkey PRIMARY KEY (id);


--
-- Name: progreso_cursos progreso_cursos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_pkey PRIMARY KEY (id);


--
-- Name: progreso_cursos progreso_cursos_user_id_curso_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_user_id_curso_id_unique UNIQUE (user_id, curso_id);


--
-- Name: progreso_materiales progreso_materiales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_pkey PRIMARY KEY (id);


--
-- Name: progreso_materiales progreso_materiales_user_id_material_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_user_id_material_id_unique UNIQUE (user_id, material_id);


--
-- Name: resultado_cuestionarios resultado_cuestionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios
    ADD CONSTRAINT resultado_cuestionarios_pkey PRIMARY KEY (id);


--
-- Name: resultado_cuestionarios resultado_cuestionarios_user_id_material_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios
    ADD CONSTRAINT resultado_cuestionarios_user_id_material_id_unique UNIQUE (user_id, material_id);


--
-- Name: resultados_examen_final resultados_examen_final_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_examen_final
    ADD CONSTRAINT resultados_examen_final_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: password_resets_email_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_resets_email_index ON public.password_resets USING btree (email);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: cuestionarios cuestionarios_modulo_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuestionarios
    ADD CONSTRAINT cuestionarios_modulo_id_foreign FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: cursos cursos_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos
    ADD CONSTRAINT cursos_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: examenes_finales examenes_finales_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examenes_finales
    ADD CONSTRAINT examenes_finales_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: materiales materiales_modulo_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materiales
    ADD CONSTRAINT materiales_modulo_id_foreign FOREIGN KEY (modulo_id) REFERENCES public.modulos(id) ON DELETE CASCADE;


--
-- Name: modulos modulos_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modulos
    ADD CONSTRAINT modulos_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: opciones_cuestionario opciones_cuestionario_material_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_cuestionario
    ADD CONSTRAINT opciones_cuestionario_material_id_foreign FOREIGN KEY (material_id) REFERENCES public.materiales(id) ON DELETE CASCADE;


--
-- Name: opciones_examen_final opciones_examen_final_pregunta_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_examen_final
    ADD CONSTRAINT opciones_examen_final_pregunta_id_foreign FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_examen_final(id) ON DELETE CASCADE;


--
-- Name: opciones_pregunta opciones_pregunta_pregunta_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opciones_pregunta
    ADD CONSTRAINT opciones_pregunta_pregunta_id_foreign FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_cuestionario(id) ON DELETE CASCADE;


--
-- Name: preguntas_cuestionario preguntas_cuestionario_cuestionario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_cuestionario
    ADD CONSTRAINT preguntas_cuestionario_cuestionario_id_foreign FOREIGN KEY (cuestionario_id) REFERENCES public.cuestionarios(id) ON DELETE CASCADE;


--
-- Name: preguntas_examen_final preguntas_examen_final_examen_final_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_examen_final
    ADD CONSTRAINT preguntas_examen_final_examen_final_id_foreign FOREIGN KEY (examen_final_id) REFERENCES public.examenes_finales(id) ON DELETE CASCADE;


--
-- Name: progreso_cursos progreso_cursos_curso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_curso_id_foreign FOREIGN KEY (curso_id) REFERENCES public.cursos(id) ON DELETE CASCADE;


--
-- Name: progreso_cursos progreso_cursos_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_cursos
    ADD CONSTRAINT progreso_cursos_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: progreso_materiales progreso_materiales_material_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_material_id_foreign FOREIGN KEY (material_id) REFERENCES public.materiales(id) ON DELETE CASCADE;


--
-- Name: progreso_materiales progreso_materiales_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progreso_materiales
    ADD CONSTRAINT progreso_materiales_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: resultado_cuestionarios resultado_cuestionarios_cuestionario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios
    ADD CONSTRAINT resultado_cuestionarios_cuestionario_id_foreign FOREIGN KEY (cuestionario_id) REFERENCES public.cuestionarios(id) ON DELETE CASCADE;


--
-- Name: resultado_cuestionarios resultado_cuestionarios_material_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios
    ADD CONSTRAINT resultado_cuestionarios_material_id_foreign FOREIGN KEY (material_id) REFERENCES public.materiales(id) ON DELETE CASCADE;


--
-- Name: resultado_cuestionarios resultado_cuestionarios_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultado_cuestionarios
    ADD CONSTRAINT resultado_cuestionarios_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: resultados_examen_final resultados_examen_final_examen_final_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_examen_final
    ADD CONSTRAINT resultados_examen_final_examen_final_id_foreign FOREIGN KEY (examen_final_id) REFERENCES public.examenes_finales(id) ON DELETE CASCADE;


--
-- Name: resultados_examen_final resultados_examen_final_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_examen_final
    ADD CONSTRAINT resultados_examen_final_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict AogSh7ndaoXg1iGzrVLp1tDtjOmTvc4z5a5oKH7Ai9uQOdjqisZeYRqDafYnqMY

